.hero {
    background-image: "../assets/pexels-bulbfish-1143754.jpg";
    background-size: cover;
    background-position: center;
    height: 400px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}